<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/new" method="POST">
        <div class="form__each">
            <label for="pushups">Pushups</label>
            <input type="text" id="pushups" name="pushups">
        </div>

        <div class="form__each">
            <label for="comment">Comments</label>
            <input type="text" id="comment" name="comment">
        </div>
        
        <div class="form__each">
            <button type="submit">Log Pushups</button>
        </div>
    </form>
</body>
</html>